<div class="callout">
  <div class="container container-narrow">
    <h1 class="no-spacing">Goals Archive</h1>
  </div>
</div>

<div class="container">
  <p>
    Access goals by fiscal year:
  </p>
  <ul>
    <% (-1..1).each do |delta| %>
        <% fy = current_fiscal_year.next(delta) %>
        <li>
          <a href="<%= fy.goals_url%>"><%= fy.range_string_html%></a> (<%= GoalsViz::Goal.all_viewable_by(user, fy.year).count %>)
        </li>
    <% end %>
  </ul>
</div>
