<div class="callout">
  <div class="container">
    <h1 class="no-spacing">LIT Goals &mdash; Archive</h1>
    <p>
      Access goals by fiscal year.
    </p>
  </div>
</div>

<div class="container">
  <ul>
    <% (-1..1).each do |delta| %>
        <% fy = current_fiscal_year.next(delta) %>
        <li>
          <a href="<%= fy.goals_url%>"><%= fy.range_string_html%></a> (<%= GoalsViz::Goal.all_viewable_by(user, fy.year).count %>)
        </li>
    <% end %>

  </ul>
</div>

