<div class="container">
  <ul class="list-alternative">
    <% goalowners_to_show_goals_for.each do |u| %>
        <% u.goals.each do |g| %>
            <li>

              <span class="info-text"><%= u.name %></span>

              <% if user.is_admin or user.goals.map(&:id).include? g.id %>
                  <button><a href="/edit_goal/<%=g.id%>">Edit</a></button>
              <% end %>              <%= g.title %>
              <div> <%= g.description %></div>
            </li>
        <% end %>
    <% end %>
  </ul>

</div>



