<html>
  <head>
    <title>LIT Goals : <%=  @title  %></title>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="/assets/stylesheets/main.css" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700,700italic' rel='stylesheet' type='text/css'>

    <script src="https://code.jquery.com/jquery-3.1.0.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
    <script src="/assets/javascript/selectize.js"></script>

  </head>
  <body>
    <header class="site-header">
      <div class="container">
        <a href="/" class="brand-link">
          <img class="brand-image mlib-logo-image" src="http://www.lib.umich.edu/shared-files/graphics/logos/umlib_logo_white_72x442.png">
        </a>

        <nav>
          <ul class="nav-list">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Goals</a></a>
            </li>
            <li>
              <a href="">Create</a></a>
            </li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <%= yield %>

    </main>

    <footer class="site-footer">
      <div class="container">
        <h2 class="no-spacing-top">Library Information Technology Goals</h2>
        <p>
          Created by M-Library LIT to help LIT understand and track the big picture of the division.
        </p>

        <nav>
          <ul class="nav-list">
            <li>
              <a href="">Home</a>
            </li>
            <li>
              <a href="">About</a>
            </li>
            <li>
              <a href="">Goals</a></a>
            </li>
            <li>
              <a href="">Create</a></a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>


  </body>
</html>
