<% if !goal.parent_goals.empty? %>
  <dt>
    This goal is influenced by
  <dt>
  <dd>
    <ul class="associated-goals-list">
      <% goal.parent_goals.each do |ag| %>
        <li>
          <a href="<%= ag.url %>"><%= ag.title %></a>
        </li>
      <% end %>
    </ul>
  </dd>
<% end %>

<% if !goal.child_goals.empty? %>
  <dt>
    This goal is cited as being an influence on:
  <dt>
  <dd>
    <ul class="associated-goals-list">
      <% goal.child_goals.each do |ag| %>
        <li>
          <a href="<%= ag.url %>"><%= ag.title %></a>
        </li>
      <% end %>
    </ul>
  </dd>
<% end %>
