.goal-my-goal {
  display: inline-block;
  border: solid 2px $main-2;
  border-radius: 4px;
  background: white;
  padding: 0 0.5rem;
  margin-right: 0.2rem;
  background: $main-3;
  color: white;
  float: right;
  margin-left: 1rem;
}

.goal-my-goal:empty {
  display: none;
}

.goal-edit {
  float: right;
  margin: 0;
  margin-left: 0.5rem;
  cursor: pointer;
}

.goal-list-info {
  color: $grey-3;
  margin-top: 1.5rem;
}

.goal-list {
  margin-top: 0;
}

.goal-description {
  margin-top: 1rem;
}

.goal-metadata-container {
  display: flex;
  justify-content: space-between;

  p {
    font-size: 0.75rem;
  }

  span {
    font-size: 0.9rem;
  }
}

.goal-metadata {
  display: block;
  color: $grey-1;
  margin-top: 1rem;
}

.goal-target-date,
.goal-associated,
.goal-status  {
  font-weight: 600;
  color: $grey-2;
}

.goal-target-date,
.goal-associated {
  margin-right: 1rem;
}
