

<!-- layout/search_ribbon -->
<div class="callout search-heading">
  <div class="container container-narrow">
    <h1 class="page-heading">Library Information Technology Goals</h1>

    <%= render 'layout/search_form' %>

  </div>
</div>

The year is <%= year %>
