<!-- layout/search_form -->
  <div class="flex-container">
    <label class="search-label">
      <span class="search-label-text">Search Goals</span>
      <div class="flex-container">
        <input type="text" class="search-input" />
        <button class="button">Search</button>
      </div>
    </label>
  </div>
