.site-min-width {
  min-width: 20rem;
}

.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
