.site-min-width {
  min-width: 24rem;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.container-narrow {
  max-width: 42rem;
}

.container-space-between {
  display: flex;
  justify-content: space-between;
}

.align-center {
  align-items: center;
}
