nav {
  display: inline-block;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.navigation-list > li {
  display: inline-block;
  margin-top: 0;
  padding-left: 0;
  margin-left: 1rem;
}

.navigation-list > li > a {
  color: white;
  font-size: 1.1rem;

  &:hover {
    border-bottom: solid 2px white;
  }
}

@media (max-width: 46em) {
  .navigation-list {
    margin-top: 1rem;
  }
  .site-header .container-space-between {
    display: block;
  }
  .navigation-list > li {
    display: block;
    margin-left: 0;
    padding-left: 0;
  }
}
