.u-break-word {
  word-wrap: break-word;
}

.u-margin-top-none {
  margin-top: 0;
}

.u-margin-bottom-none {
  margin-bottom: 0;
}

.margin-right-2 {
  margin-right: 2rem;
}

.underline {
  text-decoration: underline;
  //border-bottom: solid 1px $main-3;
}

.margin-1 {
  margin: 1rem;
}

.margin-2 {
  margin: 2rem;
}

.no-margin {
  margin: 0;
}

.no-border {
  border: none !important;
}

.no-spacing {
  margin: 0;
  padding: 0;
}

.no-spacing-top {
  margin-top: 0;
  padding-top: 0;
}

.no-spacing-bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}

.flex-container {
  display: flex;
}

.right {
  float: right;
}

/* Text meant only for screen readers. */
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}
