@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

.site-min-width {
  min-width: 20rem; }

.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1rem; }

.container-space-between {
  display: flex;
  justify-content: space-between; }

.align-center {
  align-items: center; }

/*
  Site
*/
body {
  line-height: 1.7;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

/*
  Headings
*/
h1 {
  font-size: 1.87rem; }

h2 {
  font-size: 1.5rem; }

h1, h2 {
  font-weight: 400;
  line-height: 1.3; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

h3, h4 {
  font-weight: 400; }

h5 {
  font-size: 0.9rem; }

h6 {
  font-size: 0.9rem; }

h5, h6 {
  font-weight: 700; }

h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0; }

/*
  Typography and Elements
*/
p {
  margin: 1rem 0; }

a {
  color: #126DC1;
  cursor: pointer;
  text-decoration: none;
  font-weight: inherit; }

*::selection {
  background: #CCE6FF; }

ol, ul {
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem; }

ol {
  list-style: decimal; }

ul {
  list-style: disc; }

li {
  padding-left: 1rem;
  margin-top: 1rem; }

dt {
  font-weight: 600; }

table {
  width: 100%;
  border: solid 1px #E5E5E5;
  margin-top: 1rem;
  margin-bottom: 1rem; }

thead {
  background: #FAFAFA;
  border-bottom: solid 2px #E5E5E5; }

td, th {
  padding: 0.75rem 1rem; }

th {
  text-align: left;
  color: #6E6E6E; }

.table-compact table {
  border: none; }

.table-compact td, .table-compact th {
  padding: 0.25rem 0.5rem;
  font-size: 90%; }

blockquote {
  font-family: "PT Serif", serif;
  font-size: 1.5rem;
  padding-left: 1.5rem;
  border-left: solid 0.5rem #126DC1;
  margin: 2rem 0;
  color: #126DC1;
  font-style: italic; }

b {
  font-weight: 600; }

sup {
  font-size: 0.6em;
  vertical-align: top; }

label {
  margin-bottom: 0.1rem;
  color: #333;
  display: block;
  font-weight: 600; }

.fieldset-label {
  font-weight: 700; }

input,
button,
textarea {
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  color: #333; }

select {
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.6rem;
  line-height: 1.4;
  width: 100%;
  background: #FAFAFA;
  height: 2.5rem; }

input[type="text"] {
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.6rem;
  line-height: 1.4;
  width: 100%; }

input[type="text"]:disabled,
input[type="text"]:read-only {
  background: #FAFAFA;
  border-color: #CCC;
  color: #6E6E6E;
  cursor: not-allowed; }

fieldset {
  margin: 1rem 0; }

.help-text {
  margin: 0; }

fieldset.field-valid input[type="text"] {
  border-color: #05A657; }

fieldset.field-valid .help-text {
  color: #05A657;
  font-size: 0.9rem; }

fieldset.field-error input[type="text"] {
  border-color: #ED5D47; }

fieldset.field-error .help-text {
  color: #ED5D47;
  font-size: 0.9rem; }

fieldset.field-warning input[type="text"] {
  border-color: #E77504; }

fieldset.field-warning .help-text {
  color: #E77504;
  font-size: 0.9rem; }

textarea {
  display: block;
  padding: 0.6rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  width: 100%;
  min-height: 9rem; }

.option {
  font-weight: 400; }

.button {
  display: inline-block;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 0.65rem;
  padding-bottom: 0.55rem;
  background: #126DC1;
  border: 1px solid #0C5292;
  border-bottom: 3px solid #0C5292;
  color: #fff;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none; }

.button:active {
  color: #FAFAFA;
  background: #0C5292;
  border-color: #00274C; }

.button:active,
.button:hover {
  text-decoration: none; }

.button-disabled:hover,
.button-disabled:active {
  cursor: not-allowed; }

.button-light {
  background: #FAFAFA;
  color: #333;
  border-color: #E5E5E5; }

.button-light:active {
  background: #E5E5E5;
  color: #333;
  border-color: #CCC; }

.button-small {
  padding: 0.4rem 0.8rem; }

.button-radio {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #CCC;
  background: #FAFAFA;
  border-radius: 4px;
  cursor: pointer; }

.button-link {
  border: none;
  display: inline-block;
  margin: 0;
  color: #126DC1;
  background: none;
  font-size: 1rem;
  padding: 0;
  cursor: pointer;
  border-radius: 0; }

nav {
  display: inline-block; }

.navigation-list {
  margin: 0;
  padding: 0; }

.navigation-list > li {
  display: inline-block;
  margin-top: 0;
  padding-left: 0;
  margin-left: 1rem; }

.navigation-list > li > a {
  color: white;
  font-size: 1.1rem; }
  .navigation-list > li > a:hover {
    border-bottom: solid 2px white; }

@media (max-width: 46em) {
  .navigation-list {
    margin-top: 1rem; }
  .site-header .container-space-between {
    display: block; }
  .navigation-list > li {
    display: block;
    margin-left: 0;
    padding-left: 0; } }

.u-break-word {
  word-wrap: break-word; }

.u-margin-top-none {
  margin-top: 0; }

.u-margin-bottom-none {
  margin-bottom: 0; }

.margin-right-2 {
  margin-right: 2rem; }

.underline {
  text-decoration: underline; }

.margin-1 {
  margin: 1rem; }

.margin-2 {
  margin: 2rem; }

.no-margin {
  margin: 0; }

.no-border {
  border: none !important; }

.no-spacing {
  margin: 0;
  padding: 0; }

.no-spacing-top {
  margin-top: 0;
  padding-top: 0; }

.no-spacing-bottom {
  margin-bottom: 0;
  padding-bottom: 0; }

.site-header {
  background: #00274C;
  padding-top: 1rem;
  padding-bottom: 1rem; }

.logo-item-list {
  margin: 0;
  padding: 0;
  list-style: none;
  align-items: center;
  display: flex; }
  .logo-item-list > li {
    display: inline-block;
    margin: 0;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center; }

.logo-link {
  display: inline-block;
  vertical-align: top;
  height: 1.8rem; }
  .logo-link img {
    height: 100%;
    width: auto; }

.logo-block-m {
  padding-right: 0.8rem;
  padding-left: 0; }

.logo-library,
.logo-site-title {
  font-size: 1.3rem;
  color: white;
  padding-left: 0.8rem; }

.logo-site-title a {
  color: white; }

.logo-library {
  border-right: solid 1px rgba(255, 255, 255, 0.5);
  border-left: solid 1px rgba(255, 255, 255, 0.5);
  padding-right: 0.8rem; }
  .logo-library a {
    color: rgba(255, 255, 255, 0.5); }

footer {
  background: #00274C;
  padding: 2rem 0;
  margin-top: 3rem; }
  footer h2, footer p, footer a {
    color: white; }

.callout {
  background: #E6F3FF;
  padding: 2rem 0;
  border-bottom: solid 2px #CCE6FF; }

.alert {
  margin: 1rem 0;
  padding: 1rem;
  border: solid 2px #E5E5E5;
  background: #FAFAFA;
  border-radius: 4px; }

.alert-success {
  background: #E2F4EB;
  border-color: #05A657; }

.alert-info {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-warning {
  background: #FFEEDD;
  border-color: #E77504; }

.alert-danger {
  background: #FFEAE7;
  border-color: #ED5D47; }

.alert *:first-child {
  margin: 0; }

.site-message-warning {
  background: #FFEEDD;
  border-bottom: solid 2px #E77504; }

.site-message-info {
  background: #F2F9FF;
  border-bottom: solid 2px #CCE6FF; }

.site-message {
  position: relative;
  padding: 0.5rem 1rem; }
  .site-message p {
    margin: 0;
    text-align: center; }

.site-message-dismiss {
  /* remove button style */
  border: none;
  font-size: 100%;
  background: none;
  padding: 0;
  /* continue */
  position: absolute;
  right: 1rem;
  top: 0.6rem;
  cursor: pointer;
  line-height: 1.4; }
  .site-message-dismiss span {
    text-decoration: underline; }
  .site-message-dismiss:after {
    content: '✕';
    padding-left: 0.5rem;
    text-decoration: none; }

.facet {
  display: inline-block;
  border: solid 2px #CCC;
  border-radius: 4px;
  background: white;
  padding: 0.4rem 0.5rem;
  cursor: pointer;
  background: #FAFAFA;
  font-size: 1rem;
  margin-right: 0.5rem; }

.facet:hover {
  background: #E5E5E5; }

.facet.asc,
.facet.desc,
.facet.active {
  background: #126DC1;
  color: white;
  border-color: #0C5292; }

.facet.asc,
.facet.desc {
  padding-right: 1rem; }

.facet.asc:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid white;
  content: "";
  position: relative;
  top: 0.8rem;
  right: -0.4rem; }

.facet.desc:after {
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  content: "";
  position: relative;
  bottom: 0.8rem;
  right: -0.4rem; }

.facet-container {
  display: block; }

@media (max-width: 23rem) {
  .facet-container {
    display: block; } }

@media (min-width: 40rem) {
  .facet-container {
    display: flex;
    justify-content: space-between; }
  .facet-title-search {
    margin-right: 1rem;
    margin-bottom: 1rem;
    width: 19rem; }
  .facet-sort {
    margin-right: 1rem; }
  .facet-sort,
  .facet-filter {
    margin-top: 0; }
    .facet-sort .facet,
    .facet-filter .facet {
      margin-top: 0.25rem; } }

.goal-list-info {
  margin-top: 1rem;
  padding: 1rem 0;
  background: white;
  border-radius: 4px 4px 0 0;
  border-bottom: solid 2px #E5E5E5; }

.goal-list {
  margin: 0;
  list-style: none; }
  .goal-list > li {
    padding: 0;
    margin: 2rem 0;
    padding-bottom: 1rem;
    border-bottom: solid 2px #E5E5E5; }

.goal-title {
  font-weight: 600;
  font-size: 1.2rem; }

.goal-metadata dd {
  margin-left: 2rem; }

.list-search-container {
  padding: 0;
  padding-bottom: 1rem; }

.filter.active {
  background: #126DC1;
  border-color: #0C5292;
  color: #fff; }

.sort.asc {
  background: #126DC1;
  border-color: #0C5292;
  color: #fff; }

.goal-edit {
  float: right;
  margin-left: 1rem;
  text-decoration: underline; }

.goal-my-goal {
  float: right;
  color: white;
  background: #126DC1;
  border-color: #0C5292;
  border-radius: 4px;
  padding: 0 0.5rem; }

/**
 * selectize.css (v0.12.2)
 * Copyright (c) 2013–2015 Brian Reavis & contributors
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this
 * file except in compliance with the License. You may obtain a copy of the License at:
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF
 * ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 *
 * @author Brian Reavis <brian@thirdroute.com>
 */
.selectize-control.plugin-drag_drop.multi > .selectize-input > div.ui-sortable-placeholder {
  visibility: visible !important;
  background: #f2f2f2 !important;
  background: rgba(0, 0, 0, 0.06) !important;
  border: 0 none !important;
  -webkit-box-shadow: inset 0 0 12px 4px #ffffff;
  box-shadow: inset 0 0 12px 4px #ffffff; }

.selectize-control.plugin-drag_drop .ui-sortable-placeholder::after {
  content: '!';
  visibility: hidden; }

.selectize-control.plugin-drag_drop .ui-sortable-helper {
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }

.selectize-dropdown-header {
  position: relative;
  padding: 5px 8px;
  border-bottom: 1px solid #d0d0d0;
  background: #f8f8f8;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.selectize-dropdown-header-close {
  position: absolute;
  right: 8px;
  top: 50%;
  color: #303030;
  opacity: 0.4;
  margin-top: -12px; }

.selectize-dropdown-header-close:hover {
  color: #000000; }

.selectize-dropdown.plugin-optgroup_columns .optgroup {
  border-right: 1px solid #f2f2f2;
  border-top: 0 none;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:last-child {
  border-right: 0 none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup:before {
  display: none; }

.selectize-dropdown.plugin-optgroup_columns .optgroup-header {
  border-top: 0 none; }

.selectize-control.plugin-remove_button [data-value] {
  position: relative;
  padding-right: 24px !important; }

.selectize-control.plugin-remove_button [data-value] .remove {
  z-index: 1;
  /* fixes ie bug (see #392) */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 2rem;
  font-size: 1.25rem;
  color: #4E4E4E;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  display: inline-block;
  padding: 2px 0 0 0;
  border-left: 2px solid #E5E5E5;
  box-shadow: none; }

.selectize-control.plugin-remove_button [data-value] .remove:hover {
  color: #333; }

.selectize-control.plugin-remove_button [data-value].active .remove {
  border-left-color: #cacaca;
  border-left: 2px solid #CCE6FF; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove:hover {
  background: none; }

.selectize-control.plugin-remove_button .disabled [data-value] .remove {
  border-left-color: #ffffff; }

.selectize-control.plugin-remove_button .remove-single {
  position: absolute;
  right: 28px;
  top: 6px; }

.selectize-control {
  position: relative; }

.selectize-dropdown,
.selectize-input,
.selectize-input input {
  font-family: inherit;
  font-size: 1rem; }

.selectize-input,
.selectize-control.single .selectize-input.input-active {
  background: #ffffff;
  cursor: text;
  display: inline-block; }

.selectize-input {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 1;
  /* added */
  font-size: 1rem;
  border: solid 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  padding: 0.75rem;
  width: 100%; }

.selectize-input.full {
  background-color: #ffffff; }

.selectize-input.disabled,
.selectize-input.disabled * {
  cursor: default !important; }

.selectize-input.focus {
  border-color: #126DC1; }

.selectize-input.dropdown-active {
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0; }

.selectize-input > * {
  vertical-align: baseline;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.selectize-control.multi .selectize-input > div {
  display: block;
  cursor: pointer;
  padding: 0.5rem;
  margin-bottom: 1rem;
  background: #FAFAFA;
  border: 2px solid #E5E5E5; }

.selectize-control.multi .selectize-input > div.active {
  background: #E6F3FF;
  border: 2px solid #CCE6FF; }

.selectize-control.multi .selectize-input.disabled > div,
.selectize-control.multi .selectize-input.disabled > div.active {
  color: #CCC;
  background: #ffffff;
  border: 0 solid #ffffff; }

.selectize-input > input {
  display: inline-block !important;
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

.selectize-input > input::-ms-clear {
  display: none; }

.selectize-input > input:focus {
  outline: none !important; }

.selectize-input::after {
  content: ' ';
  display: block;
  clear: left; }

.selectize-input.dropdown-active::before {
  content: ' ';
  display: block;
  position: absolute;
  background: #f0f0f0;
  height: 1px;
  bottom: 0;
  left: 0;
  right: 0; }

.selectize-dropdown {
  position: absolute;
  z-index: 10;
  border: 2px solid #CCC;
  background: #ffffff;
  border-top: 0 none;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 4px 4px; }

.selectize-dropdown [data-selectable] {
  cursor: pointer;
  overflow: hidden; }

.selectize-dropdown [data-selectable] .highlight {
  background: rgba(125, 168, 208, 0.2);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.selectize-dropdown [data-selectable],
.selectize-dropdown .optgroup-header {
  padding: 0.75rem; }

.selectize-dropdown .optgroup:first-child .optgroup-header {
  border-top: 0 none; }

.selectize-dropdown .optgroup-header {
  color: #303030;
  background: #ffffff;
  cursor: default; }

.selectize-dropdown .active {
  background-color: #E6F3FF; }

.selectize-dropdown .active.create {
  color: #495c68; }

.selectize-dropdown .create {
  color: rgba(48, 48, 48, 0.5); }

.selectize-dropdown-content {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 200px; }

.selectize-control.single .selectize-input,
.selectize-control.single .selectize-input input {
  cursor: pointer; }

.selectize-control.single .selectize-input.input-active,
.selectize-control.single .selectize-input.input-active input {
  cursor: text; }

.selectize-control.single .selectize-input:after {
  content: ' ';
  display: block;
  position: absolute;
  top: 50%;
  right: 15px;
  margin-top: -3px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0 5px;
  border-color: #808080 transparent transparent transparent; }

.selectize-control.single .selectize-input.dropdown-active:after {
  margin-top: -4px;
  border-width: 0 5px 5px 5px;
  border-color: transparent transparent #808080 transparent; }

.selectize-control.rtl.single .selectize-input:after {
  left: 15px;
  right: auto; }

.selectize-control.rtl .selectize-input > input {
  margin: 0 4px 0 -2px !important; }

.selectize-control .selectize-input.disabled {
  opacity: 0.5;
  background-color: #fafafa; }
